.gallery
  padding-top: 50px
  &-item
    background: no-repeat center center
    background-size: cover
    height: 265px

@media (min-width: 540px)
  .gallery
    padding-top: 143px
    &-item
      height: 269px