footer#footer
    .footer
        .container-fluid.container-xxl
            .d-flex.align-items-center.justify-content-between.flex-column.flex-lg-row
                img.order-0(src="images/logo.svg" alt="" title="" width="133" height="66")
                .col-separator.d-none.d-lg-block.order-1
                .text-center.footer-contacts-block.order-1.d-flex.align-items-center.flex-column.flex-lg-row
                    a.footer-phone(href="tel:+380987654321") +380 (98) 765 43 21
                    .d-block.d-lg-inline-block
                        a.i-icon.i-telegram(href="#")
                        a.i-icon.i-viber(href="#")
                        a.i-icon.i-whatsapp(href="#")
                .col-separator.d-none.d-lg-block.order-2
                .text-center.text-lg-start.order-3.order-lg-2
                    span г. Киев, станция метро <span class="d-block">“Крещатик”</span>
                .col-separator.d-none.d-lg-block.order-3
                span.order-2.order-lg-3.footer-email-block Email: <a class="text-decoration-none text-white" href="mailto:mail@mal.ua">mail@mal.ua</a>
            .d-flex.footer-second.flex-column.flex-lg-row.align-items-center
                a.text-decoration-none.text-light(href="#") Политика конфиденциальности
                a.text-decoration-none.text-light(href="#") Пользовательское соглашение
                span.text-light.ms-lg-auto Динамо. Грузинское бистро. Все права защищены, 2021