mixin Gallery()
    .container-fluid
        .row.row-cols-xxl-4.row-cols-sm-2
            .gallery-item(style="background-image: url(images/gal1.jpg)" data-style="background-image: url(images/gal1.jpg)")
            .gallery-item(style="background-image: url(images/gal2.jpg)" data-style="background-image: url(images/gal2.jpg)")
            .gallery-item(style="background-image: url(images/gal3.jpg)" data-style="background-image: url(images/gal3.jpg)")
            .gallery-item(style="background-image: url(images/gal4.jpg)" data-style="background-image: url(images/gal4.jpg)")
            .gallery-item(style="background-image: url(images/gal5.jpg)" data-style="background-image: url(images/gal5.jpg)")
            .gallery-item(style="background-image: url(images/gal6.jpg)" data-style="background-image: url(images/gal6.jpg)")
            .gallery-item(style="background-image: url(images/gal7.jpg)" data-style="background-image: url(images/gal7.jpg)")
            .gallery-item(style="background-image: url(images/gal8.jpg)" data-style="background-image: url(images/gal8.jpg)")