header
    .header
        .container-xl.container-fluid
            .d-flex.align-items-center
                img(src="images/logo.svg" alt="" title="" width="133" height="66")
                nav.nav.d-none.d-lg-flex
                    a.nav-link(href="#mainSection") главная
                    a.nav-link(href="#menuSection") меню
                    a.nav-link(href="#footer") контакты
                    a.nav-link(href="#gallerySection") галерея
                a.nav-phone.ms-auto.ms-lg-0(href="tel:+380987654321")
                    span.d-none.d-lg-inline +380 (98) 765 43 21
                nav.nav-socials
                    a(href="#")
                        i.i-icon.i-instagram
                    a(href="#")
                        i.i-icon.i-facebook
                    a(href="#")
                        i.i-icon.i-twitter
                a.i-icon.i-burger.d-lg-none(href="#mobileMenu" data-bs-toggle="offcanvas")
    .offcanvas.offcanvas-end#mobileMenu
        .offcanvas-header
            button.btn-close(type="button" data-bs-dismiss="offcanvas")
        .offcanvas-body
            a.nav-link(href="#mainSection") главная
            a.nav-link(href="#menuSection") меню
            a.nav-link(href="#footer") контакты
            a.nav-link(href="#gallerySection") галерея